<div class="card" style="width: 18rem;">
    <img src=@CaminhoImagem class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Titulo</h5>
        <p class="card-text">@Descricao</p>
        <div class="d-flex align-items-center" style="width: 18rem;">
            <span class="text-muted text-decoration-line-through">R$ @ValorReal</span>
            <span class="h4 mb-0 ms-2 text-sucess fw-bold">R$ @ValorDesconto</span>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Titulo { get; set; } = string.Empty;
    [Parameter] public string Descricao { get; set; } = string.Empty;
    [Parameter] public decimal ValorReal { get; set; }
    [Parameter] public decimal ValorDesconto { get; set; }
    [Parameter] public string CaminhoImagem { get; set; }
}