@page "/"

<PageTitle>Home</PageTitle>

<h1>Produtos</h1>


<section class="d-flex gap-3">
<div class="card" style="width: 18rem;">
    <img src="/Images/COXINHA.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Coxinha</h5>
        <p class="card-text">Coxinha dourada e crocante por fora, com recheio cremoso de frango bem temperado.</p>
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
</div>

<!-- +2 itens: Cola-cola, Brownie -->

    <div class="card" style="width: 18rem;">
        <img src="/Images/cocacola1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Coca-Cola</h5>
            <p class="card-text">Coca-Cola lata 350ml bem gelada, perfeita para acompanhar qualquer lanche.</p>
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>


<div class="card" style="width: 18rem;">
    <img src="/Images/brownie.webp" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Brownie</h5>
        <p class="card-text">Brownie artesanal de chocolate,com textura úmida e casquinha levemente crocante.</p>
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
</div>
</section>