@page "/login"

<PageTitle>Entrar com a sua conta</PageTitle>




<h3>Login</h3>

<form class="mt-5" style="max-width: 250px;">
    <div class="form-outline mb-4">
        <label class="form-label" for="usuario">Username</label>
        <input type="text" id="usuario" class="form-control" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="senha">Senha</label>
        <input type="password" id="senha" class="form-control" />
    </div>

    <input type="button" class="btn btn-primary btn-block mb-4" value="Entrar">
</form>

@code {

}
